<div class="container">
  <h1>Adicionar carro</h1>
  <div class="row">
    <div class="col-md-6">
      <form>


        <label for="exampleFormControlSelect1">Marca</label>
        <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="carro.marca" name="marca" required>
          <option> Fiat </option>
          <option> Ford </option>
      
        </select>

        <div class="form-group">
          <label for="name">Modelo</label>
          <input type="text" class="form-control" [(ngModel)]="carro.modelo" name="modelo" required>
        </div>
        <div class="form-group">
          <label for="name">Placa</label>
          <input class="form-control" [(ngModel)]="carro.placa" name="placa" required (focusout)="validarPlaca()">
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="placaDuplicado">
          Placa já cadastrada!
        </div>
        <!--
        <div class="form-group">
          <label for="name">Marca</label>
          <input class="form-control" [(ngModel)]="carro.marca" name="marca" required>
        </div>
         -->

         <div class="form-group">
          <label for="name">Cor</label>
          <input type="text" class="form-control" [(ngModel)]="carro.cor" name="cor" required>
        </div>

        
        <div class="form-group">
          <label for="name">Proprietário</label>
          <input type="text" class="form-control" [(ngModel)]="carro.proprietario" name="proprietario" required>
        </div>

        
        <div class="form-group">
          <label for="name">Contato</label>
          <input type="number" class="form-control" [(ngModel)]="carro.telContato" name="contato" required>
        </div>
        
        <div class="form-group">
          <label for="name">Status</label>
          <input type="text" class="form-control" [(ngModel)]="carro.status" name="status" required>
        </div>

        <!-- Vetor de outros campos -->
        <div class="form-group">
          <label for="name">Outros</label>
          <button class="btn btn-primary" (click)="adicionarCampo()">Adicionar</button>
        </div>
        <div class="form-group">
          <form class="form-inline" *ngFor="let campo of carro.outros; index as i">
            <label class="sr-only" for="campoNome">Nome</label>
            <input type="text" id="campoNome" class="form-control mb-2 mr-sm-2" placeholder="Nome" [(ngModel)]="campo.nome" [name]="'nome' + i">
            <label class="sr-only" for="campoValor">Valor</label>
            <input type="text" id="campoValor" class="form-control mb-2 mr-sm-2" placeholder="Valor" [(ngModel)]="campo.valor" [name]="'valor' + i">
            <button (click)="removerCampo(i)" class="btn btn-danger mb-2">X</button>
          </form>
        </div>
        <!-- Final do vetor -->


<!--
        <div class="form-group">
          <label for="name">Foto</label>
          <div class="custom-file">
              <input type="file" class="custom-file-input" id="seletordeArquivos"  [(ngModel)]="carro.foto" name="seletordeArquivos">
              <label class="custom-file-label" for="seletordeArquivos">Selecionar Arquivo</label>
            </div>
        </div>
-->

        <hr>
        <div class="form-group">
          <button class="btn btn-primary" type="button" [routerLink]="['/principal/carros']">Voltar</button>
          <button class="btn btn-success" (click)="saveCarro()">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>