<div class="container">
  <h1>Editar cadastro</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updateUsuario(usuario._id)" #usuarioForm="ngForm">
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" [(ngModel)]="usuario.nome" name="nome" required>
        </div>
        <div class="form-group">
          <label for="name">CPF</label>
          <input type="text" class="form-control" [(ngModel)]="usuario.cpf" name="cpf" required>
        </div>
        <div class="form-group">
          <label for="name">Senha</label>
          <input type="password" class="form-control" [(ngModel)]="usuario.senha" name="senha" required>
        </div>
        
        <hr>
        <div class="form-group">
          <button class="btn btn-primary" [routerLink]="['/principal/usuarios']" type="button">Voltar</button>
          <button class="btn btn-success" type="button" (click)="updateUsuario(usuario._id)" [disabled]="!usuarioForm.form.valid">Salvar</button>
          <button class="btn btn-danger" type="button" (click)="deleteUsuario(usuario._id)">Excluir</button>
        </div>
      </form>
    </div>
  </div>
</div>