<div class="container">
    <h1>Editar cadastro</h1>
    <div class="row">
      <div class="col-md-6">
        <form #carroForm="ngForm">
          <div class="form-group">
            <label for="name">Marca</label>
            <input type="text" class="form-control" [(ngModel)]="carro.marca" name="marca" required>
          </div>
          <div class="form-group">
            <label for="name">Modelo</label>
            <input type="text" class="form-control" [(ngModel)]="carro.modelo" name="modelo" required>
          </div>
          <div class="form-group">
            <label for="name">Placa</label>
            <input type="text" class="form-control" [(ngModel)]="carro.placa" name="placa" required>
          </div>
          <div class="form-group">
            <label for="name">Proprietário</label>
            <input type="text" class="form-control" [(ngModel)]="carro.proprietario" name="proprietario" required>
          </div>
          <div class="form-group">
            <label for="name">Info</label>
            <input type="text" class="form-control" [(ngModel)]="carro.info" name="mae" required>
          </div>
          <!-- Vetor de outros campos -->
          <div class="form-group">
            <label for="name">Outros</label>
            <button class="btn btn-primary" (click)="adicionarCampo()">Adicionar</button>
          </div>
          <div class="form-group">
            <form class="form-inline" *ngFor="let campo of carro.outros; index as i">
              <label class="sr-only" for="campoNome">Nome</label>
              <input type="text" id="campoNome" class="form-control mb-2 mr-sm-2" placeholder="Nome" [(ngModel)]="campo.nome" [name]="'nome' + i">
              <label class="sr-only" for="campoValor">Valor</label>
              <input type="text" id="campoValor" class="form-control mb-2 mr-sm-2" placeholder="Valor" [(ngModel)]="campo.valor" [name]="'valor' + i">
              <button (click)="removerCampo(i)" class="btn btn-danger mb-2">X</button>
            </form>
          </div>
          <!-- Final do vetor -->
          <hr>
          <div class="form-group">
            <button class="btn btn-primary" [routerLink]="['/principal/carros']" type="button">Voltar</button>
            <button class="btn btn-success" type="button" (click)="updateCarro(carro._id)" [disabled]="!carroForm.form.valid">Salvar</button>
            <button class="btn btn-danger" type="button" (click)="deleteCarro(carro._id)">Excluir</button>
          </div>
        </form>
      </div>
    </div>
  </div>