<div class="container">
  <h1>Adicionar pessoa</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="savePessoa()" #pessoaForm="ngForm">
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" [(ngModel)]="pessoa.nome" name="nome" required>
        </div>
        <div class="form-group">
          <label for="name">CPF</label>
          <input class="form-control" mask="000.000.000-00" [(ngModel)]="pessoa.cpf" name="cpf" required (focusout)="validarCpf()">
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="cpfDuplicado">
          CPF já cadastrado!
        </div>
        <div class="alert alert-warning" role="alert" *ngIf="!cpfValido">
          CPF inválido!
        </div>
        <div class="form-group">
          <label for="name">RG</label>
          <input class="form-control" mask="0.000.000-0" [(ngModel)]="pessoa.rg" name="rg" required>
        </div>
        <div class="form-group">
          <label for="name">Endereço</label>
          <input type="text" class="form-control" [(ngModel)]="pessoa.endereco" name="endereco" required>
        </div>
        <div class="form-group">
          <label for="name">Nome da Mãe</label>
          <input type="text" class="form-control" [(ngModel)]="pessoa.mae" name="mae" required>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="seletordeArquivos"  [(ngModel)]="pessoa.foto" name="seletordeArquivos">
          <label class="custom-file-label" for="seletordeArquivos">Selecionar Arquivo</label>
        </div>
        <hr>
        <div class="form-group">
          <button class="btn btn-primary" type="button" [routerLink]="['']">Voltar</button>
          <button class="btn btn-success" type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>