<div class="container">
  <form>
      <div class="form-control">
        <p class="lead">{{ usuario.nome }}</p>
        <hr class="my-4">
        <p><b>CPF:</b> {{ usuario.cpf }}</p>
        <p><b>Usuario:</b> {{ usuario.usuario }}</p>
        <form class="inline-form">
          <button class="btn"  [routerLink]="['/principal/usuarios']" type="button">Voltar</button>
          <button [routerLink]="['edit']" class="btn btn-success">Editar</button>
          <button class="btn btn-danger" type="button" (click)="deleteUsuario(usuario._id)">Excluir</button>
        </form>
      </div>
    </form>
</div>